@page "/accounts/details"
@inject BlazorApp.Data.DatingAppDbContext DB
@using BlazorApp.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    @if (account is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">BirthDate</dt>
            <dd class="col-sm-10">@account.BirthDate</dd>
            <dt class="col-sm-2">UserName</dt>
            <dd class="col-sm-10">@account.UserName</dd>
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@account.Email</dd>
            <dt class="col-sm-2">Password</dt>
            <dd class="col-sm-10">@account.Password</dd>
            <dt class="col-sm-2">CreateDate</dt>
            <dd class="col-sm-10">@account.CreateDate</dd>
            <dt class="col-sm-2">Role</dt>
            <dd class="col-sm-10">@account.Role</dd>
        </dl>
        <div>
            <a href="@($"/accounts/edit?accountid={account.AccountId}")">Edit</a> |
            <a href="@($"/accounts")">Back to List</a>
        </div>
    }
</div>

@code {
    Account? account;

    [SupplyParameterFromQuery]
    public int AccountId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        account = await DB.Accounts.FirstOrDefaultAsync(m => m.AccountId == AccountId);

        if (account is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
